#logo-img{
    max-width: 350px;
    padding: 20px;}
h3{
    font-family: 'Arvo';
    font-weight: 700;
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 6px;
}
.container{
    padding: 50px;
}
#banner{
    background: url("../../images/carcasonne-banner.jpg");
    background-size: cover;
}
#footer
{
    padding-bottom: 0;
}
#sidebar h1{
    font-family: 'Arvo';
    font-weight: 700;
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    font-size: 2.5em;
    letter-spacing: 9px;
    margin-bottom: 1em;
}
.event-info-small{
    color: #ed786a;
    font-size: smaller;
}